@font-face {
  font-family: "Crimson";
  src: url("/static/crimson-roman.woff") format("woff");
}

@font-face {
  font-family: "Crimson";
  src: url("/static/crimson-italic.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: "Crimson";
  src: url("/static/crimson-bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Crimson";
  src: url("/static/crimson-bolditalic.woff") format("woff");
  font-style: italic;
  font-weight: bold;
}

/* Define style parameters */
:root {
    /* Colors */
    --text-color: #202020;
    --highlight-color: #F0F0F0;

    /* Dimensions */
    --page-width: 60rem;
    --text-size: 12pt;
    --internal-padding: 0.5rem;
    --line-spacing: 18pt;
    --list-padding: 2rem;
    --indent: 1.0rem;
    --indent-neg: -1.0rem;
    --outline-width: 5px;

    /* Tables */
    --table-border-width: 1px;
}

/* Overall appearance */
body {
    width: var(--page-width);
    color: var(--text-color);
    font: normal var(--text-size)/var(--line-spacing) "Crimson";
    margin-left: var(--indent);
}

/* Bibliography */
p.bib {
    padding-left: var(--indent);
    text-indent: var(--indent-neg);
}
span.bib {
    font-weight: bold;
}

/* Blockquotes (callouts) */
blockquote {
    margin-left: 0px;
    border-left: var(--indent) solid var(--highlight-color);
    padding-left: var(--indent);
}

/* Code blocks */
pre {
    background-color: var(--highlight-color);
    padding-left: var(--internal-padding);
    padding-right: var(--internal-padding);
}

.language-out {
    font-style: italic;
}

/* Figures */
figure {
    text-align: center;
}

/* Glossary entries */
span[g] {
    font-weight: bold;
}

/* Headings */
blockquote h3::before {
    content: "\2606 "; /* star */
}

h3.exercise::before {
    content: "\270E "; /* pencil */
}

/* Lists */
ol, ul {
    padding-left: var(--list-padding);
    list-style-position: outside;
}

/* Tables */
table {
    border-collapse: collapse;
    caption-side: bottom;
    border: var(--table-border-width) solid var(--text-color);
    margin-left: auto;
    margin-right: auto;
}

th {
    text-align: left;
    border: var(--table-border-width) solid var(--text-color);
    padding-left: var(--internal-padding);
    padding-right: var(--internal-padding);
}

td {
    text-align: left;
    border: var(--table-border-width) solid var(--text-color);
    padding-left: var(--internal-padding);
    padding-right: var(--internal-padding);
}

tbody tr:nth-child(odd) td {
    background-color: var(--highlight-color);
}

caption {
    font-weight: bold;
}

/* Table of contents */
ol.toc {
    border: var(--outline-width) solid var(--highlight-color);
    padding-left: calc(var(--list-padding) - var(--outline-width));
    font-weight: bold;
}
